#overlay {
    position: fixed;
    display: none;
    top: @topbar-height;
    left: @sidebar-width;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#flyout {
    position: fixed;
    right: 0;
    bottom: 0;
    top: @topbar-height;
    left: 20%;
    overflow: hidden;
}

.empty-space {
    position: fixed;
    bottom: 0;
    top: @topbar-height;
    left: @sidebar-width;
    width: calc(20% - @sidebar-width);
}

.flyout-content-container {
    background-color: #f1f1f2;
    display: table;
    width: 100%;
    height: 100%;
}

.flyout-content {
    height: calc(100vh - (48px + @welcome-portal-height));
    overflow: auto;
}

.welcome-portal {
    background-color: #f7f7f7;
    height: @welcome-portal-height;
}