@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5unmck');
  src:  url('fonts/icomoon.eot?5unmck#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5unmck') format('truetype'),
    url('fonts/icomoon.woff?5unmck') format('woff'),
    url('fonts/icomoon.svg?5unmck#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\e95d";
}
.icon-angle-left:before {
  content: "\e95e";
}
.icon-angle-double-right:before {
  content: "\e95f";
}
.icon-angle-double-left:before {
  content: "\e960";
}
.icon-minus:before {
  content: "\e95c";
}
.icon-arrow-thin-right:before {
  content: "\e958";
}
.icon-assets .path1:before {
  content: "\e900";
  color: rgb(50, 184, 133);
}
.icon-assets .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(18, 108, 74);
}
.icon-assets .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(50, 184, 133);
}
.icon-assets .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-assets .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-assets .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-benefits .path1:before {
  content: "\e906";
  color: rgb(242, 134, 27);
}
.icon-benefits .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(242, 134, 27);
}
.icon-benefits .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(247, 175, 32);
}
.icon-benefits .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(242, 134, 27);
}
.icon-benefits .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-benefits .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-benefits .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-core-hr .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.icon-core-hr .path2:before {
  content: "\e90e";
  margin-left: -1.00390625em;
  color: rgb(57, 131, 137);
}
.icon-core-hr .path3:before {
  content: "\e90f";
  margin-left: -1.00390625em;
  color: rgb(84, 196, 203);
}
.icon-core-hr .path4:before {
  content: "\e910";
  margin-left: -1.00390625em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-kudos .path1:before {
  content: "\e911";
  color: rgb(179, 210, 57);
}
.icon-kudos .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-kudos .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(179, 210, 57);
}
.icon-kudos .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-kudos .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(23, 184, 157);
}
.icon-kudos .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-kudos .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-kudos .path8:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-leave-requests .path1:before {
  content: "\e919";
  color: rgb(255, 255, 255);
}
.icon-leave-requests .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(142, 198, 85);
}
.icon-leave-requests .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(101, 163, 37);
}
.icon-leave-requests .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-leave-requests .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(101, 163, 37);
}
.icon-leave-requests .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-offboard .path1:before {
  content: "\e91f";
  color: rgb(45, 166, 196);
}
.icon-offboard .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-offboard .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(15, 99, 119);
}
.icon-onboard .path1:before {
  content: "\e922";
  color: rgb(255, 255, 255);
}
.icon-onboard .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(194, 120, 164);
}
.icon-onboard .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(21, 21, 21);
  opacity: 0.1;
}
.icon-onboard .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(138, 92, 130);
}
.icon-onboard .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(138, 92, 130);
}
.icon-onboard .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(138, 92, 130);
}
.icon-onboard .path7:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.0100;
}
.icon-onboard .path8:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-onboard .path9:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.0100;
}
.icon-onboard .path10:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-onboard .path11:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-onboard .path12:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-perform .path1:before {
  content: "\e92e";
  color: rgb(252, 179, 69);
}
.icon-perform .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(240, 80, 78);
}
.icon-perform .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(1, 1, 1);
  opacity: 0.1;
}
.icon-perform .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-perform .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-perform .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-perform .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-perform .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-perform .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-recruitment .path1:before {
  content: "\e937";
  color: rgb(0, 92, 145);
}
.icon-recruitment .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(48, 200, 242);
}
.icon-recruitment .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(48, 200, 242);
}
.icon-recruitment .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(48, 200, 242);
}
.icon-recruitment .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 78, 122);
}
.icon-recruitment .path6:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 121, 191);
}
.icon-recruitment .path7:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 121, 191);
}
.icon-recruitment .path8:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(48, 200, 242);
}
.icon-recruitment .path9:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 121, 191);
}
.icon-recruitment .path10:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-recruitment .path11:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-angle-down1:before {
  content: "\e959";
}
.icon-chevron-right:before {
  content: "\e95a";
}
.icon-wm-map-marker:before {
  content: "\e95b";
}
.icon-caret-down:before {
  content: "\e942";
}
.icon-chart:before {
  content: "\e943";
}
.icon-columns:before {
  content: "\e944";
}
.icon-filter:before {
  content: "\e945";
}
.icon-plus:before {
  content: "\e946";
}
.icon-product-onboard-fill:before {
  content: "\e947";
}
.icon-view:before {
  content: "\e948";
}
.icon-view-group:before {
  content: "\e949";
}
.icon-web:before {
  content: "\e94a";
}
.icon-angle-down:before {
  content: "\e94b";
  color: #fff;
}
.icon-bell:before {
  content: "\e94c";
  color: #fff;
}
.icon-calendar:before {
  content: "\e94d";
  color: #fff;
}
.icon-folder:before {
  content: "\e94e";
  color: #fff;
}
.icon-form:before {
  content: "\e94f";
  color: #fff;
}
.icon-gear:before {
  content: "\e950";
  color: #fff;
}
.icon-logo:before {
  content: "\e951";
  color: #fff;
}
.icon-menuu:before {
  content: "\e952";
  color: #fff;
}
.icon-product-checklists:before {
  content: "\e953";
  color: #fff;
}
.icon-question-circle:before {
  content: "\e954";
  color: #fff;
}
.icon-search-gray:before {
  content: "\e955";
  color: #8e8e8e;
}
.icon-tasks:before {
  content: "\e956";
  color: #fff;
}
.icon-users:before {
  content: "\e957";
  color: #fff;
}

.sidebar-icons {
    font-size: 16px;
}

.icon-logo {
    font-size: 33px;
}

.icon-menuu  {
    font-size: 25px;
}

.icon-product-onboard-fill {
  color: #586871;
  font-size: 23px;
}

.icon-plus {
  font-size: 27px;
}

.icon-view {
  margin-right: 12px;
  font-size: 20px;
}

.icon-arrow-thin-right {
  color: #4f5e66;
}