#overlay {
  position: fixed;
  display: none;
  top: 48px;
  left: 48px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#flyout {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 48px;
  left: 20%;
  overflow: hidden;
}
.empty-space {
  position: fixed;
  bottom: 0;
  top: 48px;
  left: 48px;
  width: calc(20% - 48px);
}
.flyout-content-container {
  background-color: #f1f1f2;
  display: table;
  width: 100%;
  height: 100%;
}
.flyout-content {
  height: calc(100vh - (48px + 200px));
  overflow: auto;
}
.welcome-portal {
  background-color: #f7f7f7;
  height: 200px;
}
/*checkbox*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #ccc;
}
.container:hover input ~ .checkmark {
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid gray;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
button {
  all: unset;
}
.wrapper {
  position: fixed;
  top: 48px;
  left: 48px;
  bottom: 0;
}
.page-content {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.content-wrapper {
  display: table-row;
}
.header-wrapper {
  left: 48px;
  top: 48px;
  background-color: #885d80;
  color: white;
  right: 0;
  z-index: 1;
}
.header {
  display: flex;
  height: 150px;
  justify-content: space-between;
}
.actions {
  margin: auto 0 auto 70px;
}
.actions h1 {
  font-size: 38px;
  margin: 15px 0;
}
.actions a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}
.actions :first-child {
  padding-left: 0;
}
.header-buttons {
  margin: auto 30px auto 0;
}
.header-buttons button {
  border: 1px solid;
  border-radius: 3px;
  padding: 7px 10px;
  margin-left: 5px;
}
.header-buttons .icon-gear {
  margin-right: 5px;
}
.utility-bar {
  background-color: #f0e9ed;
  height: 48px;
  display: flex;
  justify-content: space-between;
  color: #7c888f;
}
.utility-left {
  display: flex;
  font-weight: 900;
}
.utility-left button:nth-child(2) {
  border-left: 1px solid #e6cadc;
  border-right: 1px solid #e6cadc;
}
.utility-left button {
  font-size: 17px;
  padding: 0 20px;
  display: flex;
}
.utility-left .icon-caret-down {
  margin-left: 30px;
  font-size: 22px;
}
.utility-right {
  display: flex;
}
.utility-right button {
  padding: 8px 16px;
}
.utility-right button:nth-child(2) {
  border-left: 1px solid #e6cadc;
}
.utility-right button:last-child {
  border-left: 1px solid #e6cadc;
  padding: 8px 8px;
}
.utility-right .icon-search-gray {
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 3px;
  background-color: #dfd9dc;
}
.show-content-bar {
  background-color: #6b777d;
  height: 48px;
  display: flex;
}
.show-content-bar input[type=text] {
  padding: 9px;
  border: none;
  font-size: 15px;
  background: url(imgs/search-gray.svg);
  background-position: 9px 9px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-left: 34px;
  width: 130px;
  background-color: #4f5e66;
  margin-right: 10px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.show-content-bar ::-webkit-input-placeholder {
  color: #7d8e97;
}
.show-content-bar ::-moz-placeholder {
  color: #7d8e97;
}
.show-content-bar ::-ms-placeholder {
  color: #7d8e97;
}
.show-content-bar ::placeholder {
  color: #7d8e97;
}
.show-content-bar > * {
  margin: auto 5px;
}
.show-content-icons-container {
  border: 1px solid #1E2930;
  border-radius: 3px;
  display: flex;
}
.show-content-icons-container button {
  border: none;
  padding: 8px 16px;
}
.show-content-icons-container :first-child {
  background-color: #7d8e97;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.show-content-icons-container :nth-child(2) {
  background-color: #39454b;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.show-content-icons-container i {
  color: white;
  font-size: 16px;
}
.content {
  margin-top: -48px;
  height: calc(100vh - (48px*4 + 150px + 65px));
  overflow: auto;
}
.content::-webkit-scrollbar {
  width: 10px;
}
.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}
.values-bar {
  height: 65px;
  background-color: white;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.values-bar .value-name:nth-child(2) {
  width: 90px;
}
.values-bar > * {
  margin: auto 10px;
}
.values-bar .checkbox-container {
  width: 90px;
}
.value-name {
  width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 800;
  color: #7c888f;
}
.employee-list .employee:nth-child(4n),
.employee-list .employee:nth-child(4n+1) {
  background-color: #f1f1f2;
}
.employee {
  position: relative;
  height: 60px;
  display: flex;
  color: #7c888f;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.employee img {
  border-radius: 50%;
  height: 35px;
  vertical-align: middle;
  padding-right: 5px;
}
.employee .employee-name,
.employee .position-title,
.employee .date,
.employee .manager,
.employee .onboard-tasks,
.employee .task-progress,
.employee .overdue-tasks {
  width: 220px;
}
.employee .checkbox-container {
  width: 90px;
}
.employee .portal-icon {
  width: 90px;
}
.employee > * {
  margin: auto 10px;
}
.employee .more {
  display: none;
}
.employee .more .icon-minus {
  display: none;
}
table {
  font-weight: 600;
  color: #5c6b74;
  border-spacing: 5px;
}
.checkbox-container {
  display: flex;
  justify-content: center;
}
.employee-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 50px;
}
.underline {
  border-bottom: 1px solid lightgray;
}
.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #f1f1f2;
}
.active {
  transform: rotate(90deg) translateX(-3px);
}
.topbar {
  position: fixed;
  height: 48px;
  background-color: #454E58;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.topbar a {
  display: block;
  padding: 10px;
  padding-left: 5px;
  text-decoration: none;
  width: 30px;
  margin: auto 0;
  text-align: center;
}
.topbar-left {
  display: flex;
}
.topbar-left a:first-child {
  padding-right: 15px;
  padding-left: 10px;
}
.topbar-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  align-items: center;
}
.topbar-right a {
  width: 30px;
  margin-top: 4px;
}
.topbar-right a:nth-child(4) {
  padding-top: 0;
  padding-left: 20px;
}
.topbar-right i {
  font-size: 18px;
}
.topbar-right input[type=text] {
  padding: 6px;
  border: none;
  font-size: 15px;
  background: url(imgs/search-white.svg);
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-left: 30px;
  height: 20px;
  width: 140px;
  background-color: #687278;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.topbar-right img {
  border-radius: 50%;
  width: 35px;
}
.topbar-right ::-webkit-input-placeholder {
  color: #f0f0f0;
}
.topbar-right ::-moz-placeholder {
  color: #f0f0f0;
}
.topbar-right ::-ms-placeholder {
  color: #f0f0f0;
}
.topbar-right ::placeholder {
  color: #f0f0f0;
}
.sidebar {
  width: 48px;
  background-color: #1E2930;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 48px;
}
.sidebar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  color: unset;
}
.sidebar img {
  height: 25px;
  margin-top: 5px;
  margin-left: -3px;
}
.sidebar-icons a:last-child {
  margin-bottom: 45px;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 48px;
  left: 48px;
  right: 0;
  z-index: 2;
  background-color: white;
  color: #7c888f;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  margin: auto 0;
}
.footer-left > * {
  padding: 5px 10px;
}
.footer-left span {
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}
.footer-left i {
  padding-right: 15px;
  padding-left: 15px;
}
.current-page {
  color: white;
  background-color: gray;
}
.icon-container {
  margin: 0 10px;
  color: lightgray;
  display: flex;
}
.inactive {
  color: lavender;
}
.footer-right {
  display: flex;
}
.footer-right > * {
  margin: auto 20px;
}
.footer-right select {
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 1445px) {
  .show-content-bar {
    display: none;
  }
  .content {
    height: calc(100vh - (48px*3 + 150px + 65px));
  }
}
@media screen and (max-width: 1300px) {
  .date {
    display: none;
  }
  .values-bar :nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .manager {
    display: none;
  }
  .values-bar :nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .employee > :nth-last-child(-n+5) {
    display: none;
  }
  .employee > :last-child {
    display: unset;
  }
  .employee > :last-child i {
    font-size: 30px;
  }
  .values-bar > :nth-last-child(-n+3) {
    display: none;
  }
}
@media screen and (max-width: 765px) {
  .header-buttons {
    display: none;
  }
  .total-items {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .values-bar > :nth-child(2) {
    display: none;
  }
  .employee > :nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .topbar-right input[type=text] {
    display: none;
  }
  .utility-right {
    display: none;
  }
  .actions {
    margin: auto 15px;
  }
  .header {
    overflow-x: scroll;
  }
  .icon-container {
    margin: auto;
  }
  .footer-left i {
    padding: 5px;
  }
}
@media screen and (max-width: 450px) {
  .values-bar > :nth-child(4) {
    display: none;
  }
  .employee > :nth-child(4) {
    display: none;
  }
  .actions a {
    display: flex;
    line-height: 14px;
  }
  .actions .icon-caret-down {
    padding-left: 10px;
  }
  .actions .actions-links {
    display: flex;
  }
}
