@import "mixin.less";
@import "variables.less";
@import "flyout.less";
@import "custom-items.less";

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}
  
body { /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
  }

button {
    all: unset;
}

.wrapper {
    position: fixed;
    top: @topbar-height;
    left: @sidebar-width;
    bottom: 0;
}

.page-content {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    display: table-row;
}

.header-wrapper {
    left: @sidebar-width;
    top: @topbar-height;
    background-color: #885d80;
    color: white;
    right: 0;
    z-index: 1;
}

.header {
    display: flex;
    height: @header-height;
    justify-content: space-between;
}

.actions {
    margin: auto 0 auto 70px;

    h1 {
        font-size: 38px;
        margin: 15px 0;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 0 10px;
    }

    :first-child {
        padding-left: 0;
    }
}

.header-buttons {
    margin: auto 30px auto 0;

    button {
        border: 1px solid;
        border-radius: 3px;
        padding: 7px 10px;
        margin-left: 5px;;
    }

    .icon-gear {
        margin-right: 5px;
    }
}

.utility-bar {
    background-color: #f0e9ed;
    height: @topbar-height;
    display: flex;
    justify-content: space-between;
    color: @bar-text-color;
}

.utility-left {
    display: flex;
    font-weight: 900;

    button:nth-child(2) {
        border-left: 1px solid #e6cadc;
        border-right: 1px solid #e6cadc;
    }

    button {
        font-size: 17px;
        padding: 0 20px;
        display: flex;
    }

    .icon-caret-down {
        margin-left: 30px;
        font-size: 22px;
    }
}

.utility-right {
    display: flex;

    button {
        padding: 8px 16px;
    }

    button:nth-child(2) {
        border-left: 1px solid #e6cadc;
    }

    button:last-child {
        border-left: 1px solid #e6cadc;
        padding: 8px 8px;
    }

    .icon-search-gray {
        font-weight: bold;
        padding: 10px 12px;
        border-radius: 3px;
        background-color: #dfd9dc;
    }
}

.show-content-bar {
    background-color: #6b777d;
    height: @topbar-height;
    display: flex;

    input[type=text] {
        padding: 9px;
        border: none;
        font-size: 15px;
        background: url(imgs/search-gray.svg);
        background-position: 9px 9px;
        background-repeat: no-repeat;
        background-size: 17px 17px;
        padding-left: 34px;
        width: 130px;
        background-color: #4f5e66;
        margin-right: 10px;
        width: 100%;
        .round-edges;
    }

    ::-webkit-input-placeholder {
        color: #7d8e97;
    }
    
    ::-moz-placeholder {
        color: #7d8e97;
    }
    
    ::-ms-placeholder {
        color: #7d8e97;
    }
    
    ::placeholder {
        color: #7d8e97;
    }

    > * {
        margin: auto 5px;
    }
}

.show-content-icons-container {
    border: 1px solid @sidebar-color;
    border-radius: 3px;
    display: flex;

    button {
        border: none;
        padding: 8px 16px;
    }

    :first-child {
        background-color: #7d8e97;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    :nth-child(2) {
        background-color: #39454b;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    i {
        color: white;
        font-size: 16px;
    }
}

.content {
    margin-top: -@topbar-height;
    height: calc(100vh - (@topbar-height*4 + @header-height + @values-bar-height));
    overflow: auto;
}

.content::-webkit-scrollbar {
	width: 10px;
}

.content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #cfcfcf;
}

.values-bar {
    height: @values-bar-height;
    background-color: white;
    display: flex;
    border-bottom: 1px solid lightgray;

    .value-name:nth-child(2) {
        width: @small-value-width;
    }

    > * {
        margin: auto 10px;
    }

    .checkbox-container {
        width: @small-value-width;
    }
}

.value-name {
    width: @value-width;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
    color: @bar-text-color;
}

.employee-list {
    .employee:nth-child(4n), .employee:nth-child(4n+1) {
        background-color: @background-color;
    }
}

.employee {
    position: relative;
    height: @employee-height;
    display: flex;
    color: @bar-text-color;
    font-weight: 600;
    letter-spacing: 0.5px;

    img {
        border-radius: 50%;
        height: 35px;
        vertical-align: middle;
        padding-right: 5px;
    }

    .employee-name, .position-title, .date, .manager, .onboard-tasks, .task-progress, .overdue-tasks {
        width: @value-width;
    }

    .checkbox-container {
        width: @small-value-width;
    }
 
    .portal-icon {
        width: @small-value-width;
    }

    > * {
        margin: auto 10px;
    }

    .more {
        display: none;
        .icon-minus {
            display: none;
        }
    }
}

table {
    font-weight: 600;
    color: @text-color;
    border-spacing: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

.employee-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 50px;
}

.underline {
    border-bottom: 1px solid lightgray;
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid @background-color;
  }

.active {
    transform: rotate(90deg) translateX(-3px);
}
  
.topbar {
    position: fixed;
    height: @topbar-height;
    background-color: @topbar-color;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    a {
        display: block;
        padding: 10px;
        padding-left: 5px;
        text-decoration: none;
        width: 30px;
        margin: auto 0;
        text-align: center;
    }
}

.topbar-left {
    display: flex;

    a:first-child {
        padding-right: 15px; 
        padding-left: 10px;
    }
}

.topbar-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;

    a {
        width: @large-logo-size;
        margin-top: 4px;
    }

    a:nth-child(4) {
        padding-top: 0;
        padding-left: 20px;
    }

    i {
        font-size: 18px;
    }

    input[type=text] {
        padding: 6px;
        border: none;
        font-size: 15px;
        background: url(imgs/search-white.svg);
        background-position: 7px 7px;
        background-repeat: no-repeat;
        background-size: 17px 17px;
        padding-left: 30px;
        height: 20px;
        width: 140px;
        background-color: #687278;
        margin-right: 10px;
        .round-edges;
    }

    img {
        border-radius: 50%;
        width: 35px;
    }

    ::-webkit-input-placeholder {
        color: @search-placeholder-color;
    }
    
    ::-moz-placeholder {
        color: @search-placeholder-color;
    }
    
    ::-ms-placeholder {
        color: @search-placeholder-color;
    }
    
    ::placeholder {
        color: @search-placeholder-color;
    }
}

.sidebar {
    width: @sidebar-width;
    background-color: @sidebar-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: @topbar-height;

    a {
        text-decoration: none;
        display: block;
        padding: 10px;
        text-align: center;
        color: unset;
    }

    img {
        height: 25px;
        margin-top: 5px;
        margin-left: -3px;;
    }
}

.sidebar-icons {

    a:last-child {
        margin-bottom: 45px;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    height: @topbar-height;
    left: @sidebar-width;
    right: 0;
    z-index: 2;
    background-color: white;
    color: @bar-text-color;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    margin: auto 0;

    > * {
    padding: 5px 10px;
    }

    span {
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
    }

    i {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.current-page {
    color: white;
    background-color: gray;
}

.icon-container {
    margin: 0 10px;
    color: lightgray;
    display: flex;
}

.inactive {
    color: lavender;
}

.footer-right {
    display: flex;

    >* {
        margin: auto 20px;
    }

    select {
        padding: 5px;
        border-radius: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 1445px) {
    .show-content-bar {
        display: none;
    }

    .content {
        height: calc(100vh - (@topbar-height*3 + @header-height + @values-bar-height));
    }
}

@media screen and (max-width: 1300px) {
    .date {
        display: none;
    }

    .values-bar {
        :nth-child(5) {
            display: none;
        }
    }
}

@media screen and (max-width: 1100px) {
    .manager {
        display: none;
    }

    .values-bar {
        :nth-child(6) {
            display: none;
        }
    }
}

@media screen and (max-width: 900px) {
    .employee > :nth-last-child(-n+5) {
        display: none;
    }

    .employee > :last-child {
        display: unset;

        i {
            font-size: 30px;
        }
    }
        
    .values-bar > :nth-last-child(-n+3) {
        display: none;
    }
        
}
@media screen and (max-width: 765px) {
    .header-buttons {
        display: none;
    }

    .total-items {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .values-bar > :nth-child(2) {
        display: none;
    }

    .employee > :nth-child(2) {
        display: none;
    }
  }

@media screen and (max-width: 560px) {
    .topbar-right {
        
        input[type=text] {
            display: none;
        }
    }

    .utility-right {
        display: none;
    }

    .actions {
        margin: auto 15px;
    }

    .header {
        overflow-x: scroll;
    }

    .icon-container {
        margin: auto;
    }

    .footer-left {

        i { 
            padding: 5px;
        }
    }

}

@media screen and (max-width: 450px) {

    .values-bar > :nth-child(4) {
        display: none;
    }

    .employee > :nth-child(4) {
        display: none;
    }

    .actions {
        a {
            display: flex;
            line-height: 14px;
        }

        .icon-caret-down {
            padding-left: 10px;
        }

        .actions-links {
            display: flex;
        }
    }    
}
