@sidebar-width: 48px;
@topbar-height: 48px;
@values-bar-height: 65px;
@background-color: #f1f1f2;
@topbar-color: #454E58;
@sidebar-color: #1E2930;
@bar-text-color: #7c888f;
@text-color: #5c6b74;
@large-logo-size: 30px;
@search-placeholder-color: rgb(240, 240, 240);
@header-height: 150px;
@employee-height: 60px;
@value-width: 220px;
@small-value-width: 90px;
@welcome-portal-height: 200px;
