.jumbotron {
  background-image: url(img/d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px;
  padding-top: 10px;
}
.book {
  background-image: url(img/book.jpg);
}
body {
  background-color: #466657;
  color: #e2e1e1;
}
.row {
  padding-top: 20px;
}
.container h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.col-ld-6 {
  margin-left: 5px;
}
form {
  width: 100%;
  margin-left: 5px;
}
.card {
  width: calc(33% - 20px);
  box-sizing: border-box;
  margin: 10px;
}
.card img {
  height: 50%;
}
.card .card-title {
  color: #466657;
}
.card .card-text {
  color: #466657;
}
.card .btn-primary {
  background-color: #5C844C;
  border-color: #466657;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.exit {
  position: absolute;
  top: 20px;
  right: 30px;
}
.exit img {
  width: 30px;
}
.message-box {
  margin: 80px auto;
  background-color: #466657;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
.form-group {
  font-size: 20px;
}
.btn-info {
  margin-top: 20px;
}
.navbar {
  background-color: rgba(70, 102, 87, 0.7);
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
}
.navbar .navbar-brand {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.navbar .nav-link {
  color: white;
}
.navbar .dropdown {
  display: none;
}
.page-footer {
  background-color: #375245;
  padding-top: 15px;
  margin-top: 20px;
}
@media screen and (max-width: 990px) {
  .card {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .card {
    width: 100%;
    margin: 20px;
  }
}
@media screen and (max-width: 432px) {
  .navbar {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
