@keyframes slide-in {
    0% { left:99%; opacity: 0;}
    20% { left:80%; opacity: 0.1;}
    40% { left:60%; opacity: 0.4;}
    60% { left:40%; opacity: 0.7;}
    80% { left:30%; opacity: 0.8;}
    90% { left:25%; opacity: 0.9;}
    100% { left:20%; opacity: 1; visibility: visible;}
  }
  
  .play {
    visibility: visible;
    animation-name: slide-in;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration:0.7s;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }