/*flyout specific variables*/
@keyframes slide-in {
  0% {
    left: 99%;
    opacity: 0;
  }
  20% {
    left: 80%;
    opacity: 0.1;
  }
  40% {
    left: 60%;
    opacity: 0.4;
  }
  60% {
    left: 40%;
    opacity: 0.7;
  }
  80% {
    left: 30%;
    opacity: 0.8;
  }
  90% {
    left: 25%;
    opacity: 0.9;
  }
  100% {
    left: 20%;
    opacity: 1;
    visibility: visible;
  }
}
.play {
  visibility: visible;
  animation-name: slide-in;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 48px;
  left: 20%;
  overflow: hidden;
}
.flyout-container {
  display: table;
  background-color: #E9EBEB;
  height: 100%;
  width: 100%;
}
.flyout-container .header-wrapper {
  height: calc(85px + 45px + 1px);
}
.flyout-container p {
  line-height: 1.4;
}
.flyout-container .bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 45px;
  top: 133px;
  padding-left: 10px;
  overflow: hidden;
  border-bottom: solid 1px #C7C7C7;
}
.flyout-container .bar a {
  color: #a8a8a8;
  text-align: center;
  padding: 12px 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
}
.flyout-container .bar .active {
  color: #707070;
  border-bottom: 4px solid #38B0BE;
}
.flyout-container .header {
  position: fixed;
  z-index: 1;
  display: block;
  float: left;
  width: 100%;
  height: 85px;
  background-color: #38B0BE;
}
.flyout-container .header img {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 55px;
  border: solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.flyout-container .header .name-and-description {
  position: absolute;
  left: 100px;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
}
.flyout-container .header h2 {
  font-weight: 500;
  color: white;
  padding: 10px;
  padding-top: 0px;
  margin-top: 0;
}
.flyout-container .header .description {
  font-weight: 500;
  display: inline-block;
  padding: 14px 10px 5px 10px;
}
.flyout-container .header .flyout-button-container {
  position: fixed;
  margin-top: 20px;
  display: flex;
  right: 40px;
}
.flyout-container .header .button {
  margin-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12px;
  box-shadow: none;
  background-color: white;
  color: gray;
  border-color: #C7C7C7;
  font-weight: 600;
  background-color: #38B0BE;
  color: white;
  border-color: white;
  height: 40px;
}
.flyout-container .header .small-button {
  padding: 7px;
}
.flyout-headline {
  margin-top: 4px;
  font-size: 18px;
}
.description {
  font-weight: 500;
  color: white;
  padding: 10px;
}
.flyout-wrapper {
  display: table-row;
  width: 100%;
  overflow: auto;
}
.flyout-content {
  color: #707070;
  height: calc(100vh - (60px + 100px + 48px));
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: auto;
  justify-content: center;
}
.flyout-content::-webkit-scrollbar {
  width: 10px;
}
.flyout-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}
.left-flyout-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.left-flyout-content {
  margin-bottom: 10px;
  padding: 20px 20px 20px;
  width: 550px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px #c9c9c9;
  -moz-box-shadow: 0px 0px 5px 0px #c9c9c9;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}
.left-flyout-content a {
  float: right;
  color: #9e9d9d;
  font-size: 13px;
  font-weight: 1000;
}
.sub-title {
  margin-top: 25px;
  margin-bottom: 9px;
  font-size: 15px;
}
.contact-info-container {
  display: flex;
  flex-direction: row;
}
.info-description {
  font-weight: 800;
  padding-right: 30px;
  color: #9e9d9d;
}
.left-flyout-content:last-child {
  margin-bottom: 80px;
}
.team-icon-container {
  display: flex;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #f7f7f7;
  width: 230px;
  height: 55px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 0;
}
.team-icon-container img {
  width: 55px;
  z-index: 2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.team-icon-container .name-title-container {
  display: flex;
  flex-direction: column;
}
.team-icon-container .name {
  font-weight: 900;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}
.team-icon-container .job-title {
  font-weight: 800;
  padding-left: 10px;
  padding-top: 5px;
  color: #9e9d9d;
  font-size: 13px;
}
.dash {
  width: 230px;
  height: 55px;
}
.team-icon-container:not(:last-child):before {
  height: 55px;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 27px;
  border-left: 2px dotted #E9EBEB;
}
.right-flyout-container {
  height: 100%;
  flex-direction: column;
  margin-left: 20px;
}
.right-flyout-container .flyout-headline {
  font-size: 12px;
  letter-spacing: 1px;
}
.right-flyout-content {
  margin-bottom: 10px;
  padding: 20px 20px 20px;
  width: 250px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px #c9c9c9;
  -moz-box-shadow: 0px 0px 5px 0px #c9c9c9;
  box-shadow: 0px 0px 5px 0px #c9c9c9;
}
.work-days {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 800;
}
.impact-engagement {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #9e9d9d;
}
.impact {
  width: 100px;
}
.engagement {
  width: 100px;
}
.recived-given {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #9e9d9d;
}
.recived {
  width: 100px;
}
.given {
  width: 100px;
}
.number {
  font-size: 30px;
  width: 20px;
  margin: 0;
  font-weight: 200;
}
.text {
  padding-top: 7px;
  padding-bottom: 10px;
}
.kudos-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12px;
  box-shadow: none;
  background-color: white;
  color: gray;
  border-color: #C7C7C7;
  font-weight: 600;
  background-color: #38B0BE;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
}
.kudos .flyout-headline {
  color: #9e9d9d;
}
.kudos .text {
  padding-top: 0;
}
.right-flyout-content .avatar-container {
  position: relative;
  width: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.right-flyout-content .icon-container {
  width: 27px;
  height: 27px;
  z-index: 0;
  background-color: #38B0BE;
  position: absolute;
  border: 2px solid white;
  bottom: 1px;
  right: -1px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0;
}
.right-flyout-content img {
  width: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.interactions-number {
  color: white;
  bottom: 8px;
  position: absolute;
  right: 10px;
  font-weight: 700;
  font-size: 17px;
}
.no-style {
  all: unset;
}
/*tablet screen*/
@media screen and (max-width: 1210px) {
  .flyout-content {
    width: 100%;
    margin-right: unset;
  }
}
@media screen and (max-width: 1210px) {
  .play {
    all: unset;
  }
  .flyout-content {
    width: 100%;
  }
  .flyout-container {
    left: 0;
  }
  .flyout-container .bar {
    margin: 0;
  }
  .flyout-container .header h2 {
    left: 25%;
  }
  .flyout-container .header .description {
    left: 25%;
  }
  .left-flyout-container {
    width: 100%;
    padding: 2%;
    padding-right: 0;
    margin: 0;
    height: auto;
  }
  .left-flyout-content {
    width: 100%;
    box-sizing: border-box;
  }
  .right-flyout-container {
    padding: 2%;
    margin: 0;
    height: auto;
  }
  .most-interactions {
    margin-bottom: 70px;
  }
}
/*mobile screen*/
@media screen and (max-width: 700px) {
  .flyout-container {
    left: 0;
  }
  .flyout-container .bar {
    top: 130px;
    position: fixed;
    margin: 0;
    overflow-x: scroll;
  }
  .flyout-container .bar :last-child {
    padding-right: 20px;
  }
  .flyout-container .header {
    position: fixed;
  }
  .flyout-container .header h2 {
    left: 25%;
  }
  .flyout-container .header .description {
    left: 25%;
  }
  .flyout-container .header .small-button {
    visibility: hidden;
  }
  .actions {
    visibility: hidden;
  }
  .flyout-content {
    width: 100%;
    flex-wrap: wrap;
  }
  .left-flyout-container {
    width: 100%;
    padding: 2%;
    margin: 0;
    height: auto;
  }
  .left-flyout-content {
    width: 100%;
  }
  .left-flyout-content:last-child {
    margin-bottom: 0;
  }
  .right-flyout-container {
    width: 100%;
    padding: 0 2%;
    margin: 0;
    height: auto;
    box-sizing: border-box;
  }
  .right-flyout-content {
    width: 100%;
    box-sizing: border-box;
  }
  .most-interactions {
    margin-bottom: 70px;
  }
}
