@import "mixins.less";
@import "variables.less";
@import "animations.less";

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: @bar-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer; 
}

 #overlay-wrapper{
  position: fixed;
  right: 0;
  bottom: 0;
  top: 48px;
  left: 20%;
  overflow: hidden;
 }

.flyout-container {
  display: table;
  background-color: @background-color;
  height: 100%;
  width: 100%;

  .header-wrapper {
    height: calc(@flyout-header-height + @flyout-bar-height + 1px);
  }

  p {
    line-height: 1.4;;
  }

  .bar {
    position: fixed;
    z-index: 1;
    width: 100%;  
    display: flex;
    flex-wrap: nowrap;
    height: @flyout-bar-height;
    top: @bar-height + @flyout-header-height;  
    padding-left: 10px;
    overflow: hidden;
    border-bottom: solid 1px @border-color;

    a {
      color: @menu-font-color;
      text-align: center;
      padding: 12px 10px;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      font-size: 13px;
      font-weight: 800;
      }

      .active {
        color: @font-color;
        border-bottom: 4px solid @header-background-color;
      }
  }
  
  .header {
    position: fixed;
    z-index: 1;
    display: block;
    float: left;
    width: 100%;
    height: @flyout-header-height;
    background-color: @header-background-color;
    
    img {
      position: absolute;
      top: 10px;
      left: 30px;
      width: @flyout-large-logo-size;
      border: solid white;
      .round;
    }

    .name-and-description {
      position: absolute;
      left: 100px;
      width: 300px;
      flex-wrap: wrap;
      display: flex;
    }

    h2 {
      font-weight: 500;
      color: white;
      padding: 10px;
      padding-top: 0px;
      margin-top: 0;
    }

    .description {
      font-weight: 500;
      display: inline-block;
      padding: 14px 10px 5px 10px;
    }

    .flyout-button-container {
      position: fixed;
      margin-top: 20px;
      display: flex;
      right: 40px;
    }

    .button {
      margin-right: 9px;
      .button-mxn;
      background-color: @header-background-color;
      color: white;
      border-color: white;
      height: 40px;
    }

    .small-button {
      padding:7px;
    }
  }
}  

.flyout-headline {
  margin-top: 4px;
  font-size: 18px;
}

.description {
  font-weight: 500;
  color: white;
  padding: 10px;
}

.flyout-wrapper {
  display: table-row;
  width: 100%;
  overflow: auto;
}

.flyout-content {
  color: @font-color;
  height: calc(100vh - (@header-bar-height + @header-height + @bar-height));
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 50px;
  overflow: auto;
  justify-content: center;
}

.flyout-content::-webkit-scrollbar {
width: 10px;
}

.flyout-content::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #cfcfcf;
}

.left-flyout-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.left-flyout-content {
  margin-bottom: 10px;
  padding: 20px 20px 20px;
  width: 550px;
  background-color: white;
  .box-shadow;

  a {
    float: right;
    color: @light-font-color;
    font-size: 13px;
    font-weight: 1000;
  }
}

.sub-title {
  margin-top: 25px;
  margin-bottom: 9px;
  font-size: 15px;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
}

.info-description {
  font-weight: 800;
  padding-right: 30px;
  color: @light-font-color;
}

.left-flyout-content:last-child { 
  margin-bottom: 80px;
}

.team-icon-container {
  display: flex;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: rgb(247, 247, 247);
  width: 230px;
  height: @team-icon-height; 
  margin-bottom: @team-margin-bottom;
  margin-top: @team-margin-top;
  margin-left: @team-margin-side;
  margin-right: @team-margin-side;
  z-index: 0;

  img {
    width: @flyout-large-logo-size;
    z-index: 2;
    .round;
  }

  .name-title-container {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-weight: 900;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
  }

  .job-title {
    font-weight: 800;
    padding-left: 10px;
    padding-top: 5px;
    color: @light-font-color;
    font-size: 13px;
  }
}

.dash {
  width: 230px;
  height: @team-icon-height;
}

.team-icon-container:not(:last-child):before {
  height: @team-icon-height;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 27px;
  border-left: 2px dotted @background-color;
  }

.right-flyout-container {
  height: 100%;
  flex-direction: column;
  margin-left: 20px;

  .flyout-headline {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.right-flyout-content {
  margin-bottom: 10px;
  padding: 20px 20px 20px;
  width: 250px;
  background-color: white;
  .box-shadow;
}

.work-days {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 800;
}

.impact-engagement {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  padding-left: 10px;
  color: @light-font-color;
}

.impact {
  width: @statistic-width;
}

.engagement {
  width: @statistic-width;
}

.recived-given {
  .impact-engagement;
}

.recived {
  width: @statistic-width;;
}

.given {
  width: @statistic-width;
}

.number {
  font-size: 30px;
  width: 20px;
  margin: 0;
  font-weight: 200;
}

.text {
  padding-top: 7px;
  padding-bottom: 10px;
}

.kudos-button {
  .button-mxn;
  background-color: @header-background-color;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
}

.kudos {

  .flyout-headline {
    color: @light-font-color;
  }

  .text {
    padding-top: 0;
  }
}

.right-flyout-content {

  .avatar-container {
    position: relative;
    width: @flyout-large-logo-size;
    .round;
  }

  .icon-container {
    width: 27px;
    height: 27px;
    z-index: 0;
    background-color: @header-background-color;
    position: absolute;
    border: 2px solid white;
    bottom: 1px;
    right: -1px;
    .round;
    padding: 0;
  }

  img {
    width: @flyout-large-logo-size;
    .round;
  }
}
.interactions-number {
  color: white;
  bottom: 8px;
  position: absolute;
  right: 10px;
  font-weight: 700;
  font-size: 17px
}

.no-style {
  all: unset;
}

/*tablet screen*/
@media screen and (max-width:1210px) {

  .flyout-content {
    width: 100%;
    margin-right: unset;
  }
}
@media screen and (max-width: 1210px) {

  .play {
    .no-style
  }

  .flyout-content {
    width: 100%;
  }

  .flyout-container {
    left: 0;

    .bar {
      margin: 0;
    }

    .header {

      h2 {
        left: 25%;
      }

      .description {
        left: 25%;
      }
    }
  }

  .left-flyout-container {
    width: 100%;
    padding: 2%;
    padding-right: 0;
    margin: 0;
    height: auto;;
  }
  
  .left-flyout-content {
    width: 100%;
    box-sizing: border-box;
  }

  .right-flyout-container {
    padding: 2%;
    margin: 0;
    height: auto;
  }

  .most-interactions {
    margin-bottom: 70px;
  }
}

/*mobile screen*/
@media screen and (max-width: 700px) {

  .flyout-container {
    left: 0;

    .bar {
      top: @flyout-header-height + @flyout-bar-height;
      position: fixed;
      margin: 0;
      overflow-x: scroll;

      :last-child {
        padding-right: 20px;
      }
    }

    .header {
      position: fixed;

      h2 {
        left: 25%;
      }

      .description {
        left: 25%;
      }

      .small-button {
       visibility: hidden;
      }
    }
  }

  .actions {
    visibility: hidden;
  }

  .flyout-content {
    width: 100%;
    flex-wrap: wrap;
  }

  .left-flyout-container {
    width: 100%;
    padding: 2%;
    margin: 0;
    height: auto;
  }
  
  .left-flyout-content {
    width: 100%;
  }
  
 .left-flyout-content:last-child {
    margin-bottom: 0;
  }

  .right-flyout-container {
    width: 100%;
    padding: 0 2%;
    margin: 0;
    height: auto;
    box-sizing: border-box;
  }

  .right-flyout-content {
    width: 100%;
    box-sizing: border-box;
  }

  .most-interactions {
    margin-bottom: 70px;
  }
}