@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cs9qde');
  src:  url('fonts/icomoon.eot?cs9qde#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cs9qde') format('truetype'),
    url('fonts/icomoon.woff?cs9qde') format('woff'),
    url('fonts/icomoon.svg?cs9qde#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down1:before {
  content: "\e900";
}
.icon-arrow-thick-up:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-cake:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-chat:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-folder:before {
  content: "\e90b";
}
.icon-form:before {
  content: "\e90c";
}
.icon-gear:before {
  content: "\e90d";
}
.icon-global-search:before {
  content: "\e90e";
}
.icon-logo:before {
  content: "\e90f";
}
.icon-menuu:before {
  content: "\e910";
}
.icon-message:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-product-checklists:before {
  content: "\e914";
}
.icon-question-circle:before {
  content: "\e915";
}
.icon-run:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-star-rating-full:before {
  content: "\e918";
}
.icon-tasks:before {
  content: "\e919";
}
.icon-users:before {
  content: "\e91a";
}
.icon-wm-map-marker:before {
  content: "\e91b";
}
.icon-number:before {
  content: "\e908";
}
.icon-number1:before {
  content: "\e909";
}
.icon-square:before {
  content: "\e907";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-square1:before {
  content: "\f0c8";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle:before {
  content: "\f111";
}
.icon-list:before {
  content: "\e9ba";
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    padding-right: 5px;
    padding-left: 5px;
    color:#CED3D3;
}

.left-corner .wrapper-icons {
  font-size: 30px;
  color: white;
}

.topnav-right i {
  font-size: 19px;
  color: white;
}

.large-button .icon-plus {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  margin-bottom: 4px;
  color: rgb(141, 141, 141);
}

.button-right .icon-global-search {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
  color: rgb(141, 141, 141);
  font-size: 14px;
  padding-right: 8px;
}

.button-right .icon-angle-down1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: gray;
}

.icon-circle-o {
  font-size: 10px;;
}

.icon-phone{
  font-size: 14px;
}

.icon-message {
  font-size: 14px;
  color: #999;
  vertical-align: middle;
}

.icon-run {
  color: white;
  font-size: 10px;
}

.icon-angle-down1 {
  padding-left: 8px;
}

.actions .icon-angle-down1 {
  color: white;
}

.icon-edit {
  color: white;
}

.icon-arrow-thick-up {
  color: rgb(146, 218, 39);
}

.icon-square1 {
  font-size: 25px;
  padding-top: 5px;
}

.free-day {
  color: orange;
}

.topnav .icon-angle-down1 {
  font-size: 28px;
  padding-left: 0;
}

.actions .icon-angle-down1 {
  color: white;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
}

.actions .icon-run {
  color: white;
  font-size: 17px;
}

.left-flyout-content .icon-angle-down1 {
  float: right;
  transform:
    rotate(270deg);
  font-size: 20px;
  font-size: 22px;
  font-weight: 900;
  color: rgb(158, 157, 157);
}

.fa-th-large {
  color:#38B0BE;
}

.icon-circle {
  color:white;
  font-size: 6px;
  vertical-align: middle;
  padding: 3px;
}
