@border-color: #C7C7C7;

.button-mxn(){
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 12px;
    box-shadow: none;
    background-color: white;
    color: gray;
    border-color: @border-color;
    font-weight: 600;
}

.round-borders() {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.round-edges() {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.light-border() {
    border-style: solid;
    border-width: 1px;
    border-color: @border-color;
}

.round() {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
} 

.call-message() {
    font-size: 12px;
    margin: 2px;
    padding: 5px;
    background-color: white;
    color: @call-txt-color;
    border-color: @call-message-border-color;
    width: @call-message-width;
    .round-borders;
}

.job-location-lettering() {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px
}

.box-shadow() {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(201, 201, 201);
    -moz-box-shadow: 0px 0px 5px 0px rgb(201, 201, 201);;
    box-shadow: 0px 0px 5px 0px rgb(201, 201, 201);
}