/*flyout specific variables*/
body {
  background-color: #E9EBEB;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}
.content-wrapper {
  position: fixed;
  top: 48px;
  left: 48px;
  bottom: 0;
}
.content {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.header-wrapper {
  display: table-row;
}
.header {
  height: 100px;
  display: flex;
  background-color: #38B0BE;
  align-items: center;
}
.header h1 {
  font-size: 30px;
  font-weight: 500;
  padding-left: 30px;
  color: white;
}
.bar {
  background-color: white;
  height: 60px;
}
.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12px;
  box-shadow: none;
  background-color: white;
  color: gray;
  border-color: #C7C7C7;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.bar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}
.bar-container .button {
  font-weight: 600;
  vertical-align: middle;
}
.bar-container .active {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 5px 0px 0px 5px;
  background-color: #E9EBEB;
}
.button-right {
  display: flex;
  width: 226px;
  margin: auto 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 12px;
  box-shadow: none;
  background-color: white;
  color: gray;
  border-color: #C7C7C7;
  font-weight: 600;
  padding: 0;
  background-color: transparent;
}
.large-button {
  margin: auto -4px;
  vertical-align: middle;
  padding-bottom: 4px;
}
.show-content-container {
  display: flex;
  margin-left: 5px;
  right: 0;
  top: 0;
  border-color: #dadada;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.show-content {
  margin: 0;
  border: none;
}
.container {
  display: table-row;
  background-color: #E9EBEB;
}
.card-wrapper {
  overflow: auto;
  height: calc(100vh - (60px + 100px + 48px));
}
.card-wrapper::-webkit-scrollbar {
  width: 10px;
}
.card-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}
/*big search bar*/
.big-search {
  width: 100%;
  height: 28px;
  padding: 6px 0px 6px 6px;
  border: 10px solid #C7C7C7;
  margin: 20px 0px 15px 0px;
  font-size: 14px;
  background: url(ikone/search-gray.svg);
  background-position: 9px 11px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-left: 30px;
  background-color: white;
  color: gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.container ::placeholder {
  color: #C7C7C7;
  font-weight: 700;
}
.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.card-container :nth-child(3n+4) {
  margin-right: 0;
}
/* card style */
.card {
  box-sizing: border-box;
  position: relative;
  width: calc(33% - 2px);
  padding: 20px;
  text-align: center;
  background-color: white;
  margin-bottom: 8px;
  margin-right: 8px;
  color: #9CA1A1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.card h4 {
  flex-wrap: wrap;
  font-weight: 10;
  font-size: 18px;
  margin: 15px 15px 5px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card img {
  border: 1px solid white;
  box-shadow: 1px 1px 5px 1px #AAA;
  vertical-align: middle;
  width: 120px;
  height: 120px;
}
.card .avatar-container {
  position: relative;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  margin: auto;
}
.avatar {
  position: relative;
  vertical-align: middle;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.fav-container {
  position: absolute;
  left: 10px;
  bottom: 2px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.fav-container .star {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
.location {
  margin: 3px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.job {
  margin: 5px;
  margin-bottom: 15px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.call {
  font-size: 12px;
  margin: 2px;
  padding: 5px;
  background-color: white;
  color: #B9BDBD;
  border-color: #E9EBEB;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.message {
  font-size: 12px;
  margin: 2px;
  padding: 5px;
  background-color: white;
  color: #B9BDBD;
  border-color: #E9EBEB;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #999;
}
.vertical-menu {
  width: 48px;
  position: fixed;
  overflow-y: scroll;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1E2930;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.vertical-menu a {
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  margin-left: 0;
  left: 0;
  text-decoration: none;
}
.vertical-menu a:hover,
.vertical-menu a:active {
  background-color: #39444A;
  color: white;
}
.vertical-menu img {
  height: 20px;
  position: relative;
}
.vertical-menu i {
  height: 20px;
  position: relative;
}
.vertical-menu::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}
.sidebar-icons {
  margin-top: 50px;
}
.topnav {
  background-color: #454E58;
  color: white;
  overflow: hidden;
  height: 48px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.topnav a {
  background-color: #454E58;
  color: white;
  display: block;
  padding: 10px;
  padding-left: 5px;
  text-decoration: none;
}
.left-corner {
  display: flex;
}
.topnav-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  align-items: center;
}
.topnav-right a {
  width: 30px;
  margin-top: 4px;
}
.topnav-right .logo {
  width: 20px;
}
.topnav-right .last {
  margin-right: 0;
  padding-left: 0px;
}
.topnav-right img {
  width: 30px;
  border-radius: 50%;
}
.topnav-right .user-avatar {
  padding-right: 0px;
  padding-left: 20px;
  width: 35px;
}
.topnav-right input[type=text] {
  /*small search bar in top right corner*/
  padding: 6px;
  border: none;
  font-size: 15px;
  background: url(ikone/search-white.svg);
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-left: 30px;
  height: 20px;
  width: 140px;
  background-color: #687278;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
::-webkit-input-placeholder {
  color: #f0f0f0;
}
::-moz-placeholder {
  color: #f0f0f0;
}
::-ms-placeholder {
  color: #f0f0f0;
}
::placeholder {
  color: #f0f0f0;
}
/* Responsive */
@media screen and (max-width: 1250px) {
  .bar-container {
    margin: 0px 10px 0px 10px;
  }
  .button-right {
    padding: 10px;
    padding-right: 12px;
  }
}
@media screen and (max-width: 1155px) {
  .card {
    width: calc(50% - (8px + 6px));
  }
  .card-container {
    margin: 0 auto;
  }
  .card-container :nth-child(3n+4) {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .card-container {
    justify-content: center;
  }
  .button-right {
    padding-right: 6px;
  }
  .big-search {
    margin: 15px 6px 15px 14px;
  }
}
@media screen and (max-width: 700px) {
  .card {
    width: 100%;
  }
  .card h4 {
    flex-wrap: wrap;
    font-weight: 10;
    font-size: 18px;
    margin: 15px;
    word-break: break-word;
    white-space: initial;
  }
  .card-container {
    margin-bottom: 10px;
    justify-content: center;
  }
  .header {
    width: 100%;
    height: 80px;
  }
  .header h1 {
    position: relative;
    margin-top: 3%;
    left: 5%;
    padding: 0;
    height: 16%;
    font-size: 30px;
  }
  .bar {
    width: 100%;
    top: auto;
  }
  .topnav {
    overflow-y: scroll;
  }
  .topnav-right a {
    display: none;
  }
  .topnav-right .user-avatar {
    display: block;
  }
  .topnav-right input[type=text] {
    display: none;
  }
  .button {
    padding: 5px;
    box-shadow: none;
    background-color: white;
    color: gray;
    border-color: #C7C7C7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
  }
  .bar-container {
    margin-left: 5px;
    margin-right: 0;
    justify-content: space-between;
  }
  .show-content-container {
    display: none;
  }
  .large-dropdown-button {
    padding: 6px;
  }
  .large-button {
    width: 136px;
  }
  .button-right {
    width: 137px;
  }
  .big-search {
    padding-right: 60px;
    margin: 15px 0px 15px 8px;
  }
}
@media screen and (max-height: 450px) {
  .sidebar-icons {
    padding-top: 15px;
  }
  .sidebar-icons a {
    font-size: 18px;
  }
}
@media screen and (max-width: 350px) {
  .bar-container {
    flex-direction: column;
  }
  .large-button {
    text-indent: -9999px;
    line-height: 0;
    /* Collapse the original line */
    width: 100px;
    height: 30px;
  }
  .large-button::after {
    content: "+ Add";
    text-indent: 5px;
    display: block;
    transform: translateY(-11px);
  }
}
