@background-color: #E9EBEB;
@logo-top-margin: 50px;
@small-logo-size: 20px;
@large-logo-size: 30px;
@bar-width: 48px;
@bar-height: 48px;
@top-bar-color: #454E58;
@sidebar-color: #1E2930;
@header-background-color: #38B0BE;
@border-color: #C7C7C7;
@hover-color: #39444A;
@call-message-border-color: #E9EBEB;
@call-txt-color: #B9BDBD;
@card-txt-color: #9CA1A1;
@avatar-size: 100px;
@call-message-width: 100px;
@header-height: 100px;
@header-bar-height: 60px;
@small-screen-header-height: 80px;
@search-placeholder-color: rgb(240, 240, 240);
@scrollbar-width: 6px;

/*flyout specific variables*/
@flyout-large-logo-size: 55px;
@flyout-bar-height: 45px;
@flyout-header-height: 85px;
@font-color: rgb(112, 112, 112);
@menu-font-color: rgb(168, 168, 168);
@light-font-color: rgb(158, 157, 157);
@team-margin-bottom: 50px;
@team-margin-top: 30px;
@team-icon-height: 55px;
@team-margin-side: 15px;
@statistic-width: 100px;