@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oedfel');
  src:  url('fonts/icomoon.eot?oedfel#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oedfel') format('truetype'),
    url('fonts/icomoon.woff?oedfel') format('woff'),
    url('fonts/icomoon.svg?oedfel#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-nested:before {
  content: "\e908";
}
.icon-switch1:before {
  content: "\e903";
}
.icon-arrow_drop_up:before {
  content: "\e90a";
}
.icon-arrow_drop_down:before {
  content: "\e90b";
}
.icon-filter_list:before {
  content: "\e907";
}
.icon-power1:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-envelope-o:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e909";
}
  
.icon-list-nested {
    color: gray;
    padding: 5px;
}

.icon-envelope-o, .icon-bell, .icon-switch1 {
    color:gray;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 4px;
    margin: auto 10px;
}

.icon-filter_list  {
  font-size: 30px;
  color: #0290d8
}

.icon-arrow_drop_up, .icon-arrow_drop_down {
  position: absolute;
  font-size: 30px;
}

.icon-arrow_drop_up {
  color: rgb(209, 52, 52);
}

.icon-arrow_drop_down {
  color: #307bbb;
}