.notifications() {
    width:18px;
    height: 18px;
    z-index: 1;
    position: absolute;
    top: 3px;
    right: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}