@import "icons.css";
@import "mixins.less";
@import "circle.css";

@background-color: #F1F3F4;
@topbar-height: 48px;
@sidebar-width: 150px;
@sidebar-margin: 25px;
@sidebar-right-margin: 15px;
@top-content-margin: 30px;
@top-content-left-margin: 20px;
@text-color: rgb(99, 98, 98);
@background-blue: #0290d8;
@card-height: 300px;

body {
    background-color: @background-color;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: @text-color;
}

.content-container {
    position: relative;
    top:  @topbar-height + 20px;
    width: calc(100% - (@sidebar-width + @sidebar-margin + @sidebar-right-margin));
    left: @sidebar-width +  @sidebar-margin + @sidebar-right-margin;
}

.top-content { 
    width: calc(100% - (@sidebar-margin + @sidebar-right-margin));

    p {
        margin-top: 2px;
        font-size: 15px;
    }

    h2 {
        margin: 0;
    }
}

.header {
    margin: 0 0 10px @top-content-left-margin;
    display: flex;
    justify-content: space-between;
}

.header-right {
    align-items: flex-end;
    display: flex;

    a {
        text-decoration: none;
        color: rgb(50, 167, 235);
        padding: 16px;
        font-weight: 600;
        font-size: 15px;
    }

    :last-child {
        color: unset;
        padding-right: 0;
    }
}

 .card-container {
    display: flex;
    justify-content: space-around;
}

.big-card {
    color: white;
    width: 33%;
    height: 180px;
    margin: auto @top-content-margin auto @top-content-margin;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 22px 2px rgba(204,204,204,1);
    box-shadow: 0px 0px 22px 2px rgba(204,204,204,1);
}

.text-container {
    position: absolute;
    top: 30px;
    left: 30px;

    .title {
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 14px;
    }

    .number {
        letter-spacing: 8px;
        font-size: 40px;
        padding: 10px 0 16px 0;
        font-weight: 900
    }

    .subtitle {
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 13px;
    }
}

#total-jobs {
    background-image: linear-gradient(to bottom right, #fa9645, #fc56d2);
    -moz-box-shadow: 0px 9px 22px 2px #fc56d263;
    -webkit-box-shadow: 0px 9px 22px 2px #fc56d263;
    box-shadow: 0px 9px 22px 2px #fc56d263;
    margin-left: @top-content-left-margin;
}

#freelancer {
    background-image: linear-gradient(to bottom right, #f77be2, #6f49f8);
    -moz-box-shadow: 0px 9px 22px 2px #6f49f87d;
    -webkit-box-shadow: 0px 9px 22px 2px #6f49f87d;
    box-shadow: 0px 9px 22px 2px #6f49f87d;
}

#total-clients {
    background-image: linear-gradient(to bottom right, #3ee6d2, #0573da);
    -moz-box-shadow: 0px 9px 22px 2px #0573da73;
    -webkit-box-shadow: 0px 9px 22px 2px #0573da73;
    box-shadow: 0px 9px 22px 2px #0573da73;
    margin-right: 0;
}

.main-content {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.left-content {
    width: 60%;

    .left-card:nth-child(2) {
        padding: 0 40px;
        justify-content: space-evenly;
    }
    
    .left-card:last-child {
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
        border: none;
        -webkit-box-shadow: 0px 0px 22px 2px #ddd;
        -moz-box-shadow: 0px 0px 22px 2px #ddd;
        box-shadow: 0px 0px 22px 2px #ddd;
    }
}

.left-card {
    width: calc(100% - 60px); /* - big-card margin*/
    margin: 30px 30px 60px @top-content-left-margin;
    height: @card-height;
    background-color: @background-color;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;

    .number {
        color: @background-blue;
        font-size: 24px;
        letter-spacing: 4px;
        font-weight: 700;
    }

}

.client-box {
    position: relative;
    width: calc(50% - 12px);
    height: calc(50% - 12px);
    background-color: white;
    border-radius: 4px;

    .number {
        position: absolute;
        top: 50px;
        left: 50px;
    }
    
    .subtitle {
        position: absolute;
        top: 82px;
        left: 50px;
        font-size: 13px;
    }
}

.client-box:nth-child(1), .client-box:nth-child(3){
    margin-top: 12px;
}

.client-box:nth-child(2){
    margin-left: 12px;
    -webkit-box-shadow: -8px 11px 17px -8px #dbdbdb;
    -moz-box-shadow: -8px 11px 17px -8px #dbdbdb;
    box-shadow: -8px 11px 17px -8px #dbdbdb;
}

.client-box:nth-child(4), .client-box:nth-child(3){
    box-shadow: 0px -2px 8px 3px #dbdbdb;
    margin-right: 12px;
}

.client-box:nth-child(2), .client-box:nth-child(4){
    margin-bottom: 12px;
 }

.active {
    margin-left: 12px;
    z-index: 1;
    background-color: @background-blue;
    -webkit-box-shadow: -11px -12px 10px -3px #dbdbdb;
    -moz-box-shadow: -11px -12px 10px -3px #dbdbdb;
    box-shadow: -11px -12px 10px -3px #dbdbdb;

    .number {
        color: #7cd3ff;
        left: 110px;
    }

    .subtitle {
        color: white;
        left: 110px;
    }

    img {
        height: 90px;
        position: absolute;
        top: 20px;
        left: 10px;
    }
}

.agent-title-box {
    display: flex;

    img{
        border-radius: 2px;
        -moz-box-shadow: 0px 9px 20px 0px #fc56d24f;
        -webkit-box-shadow: 0px 9px 20px 0px #fc56d24f;
        box-shadow: 0px 9px 20px 0px #fc56d24f;
    }

    .text {
        margin-left: 20px;
    }

    .sub-text {
        color: black;
        font-weight: 600;
    }
}

.agent-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    :last-child {
        margin: 0;
    }
}

.agent-box {
    background: white;
    width: 33%;
    margin-right: 15px;
    padding: 20px 10px 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 22px 2px #dddddd;

    .sub-text {
        margin-bottom: 10px;
    }
}

.description {
    font-weight: 600;
}

.sub-text {
    font-size: 13px;
    letter-spacing: 0.4px;
    padding-top: 2px;
}

.bookings {
    display: flex;
    padding-top: 20px;

    .text {
        font-size: 25px;
        font-weight: 600;
        padding: 20px;
    }

    img {
        height: 80px;
    }
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right-card-container {
    display: flex;
    margin: 30px 20px 30px 10px;
}

.right-card {
    background-color: white;
    width: 100%;
    margin: 0 20px 0 0;
    height: @card-height;
    padding: 20px 30px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 22px 2px #ddd;
    -moz-box-shadow: 0px 0px 22px 2px #ddd;
    box-shadow: 0px 0px 22px 2px #ddd;
    border-radius: 4px;

    .number {
        font-weight: 900;
        font-size: 18px;
        padding-top: 10px;
        color: black;
    }

    .title {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        margin-bottom: 25px;
    
        .percentage {
            color: rgb(231, 62, 62);
            font-weight: 900;
            font-size: 30px;
            letter-spacing: 1px;
            margin-right: 10px;
        }

        .text {
            font-size: 12.5px;
        }
    }
}

.percent-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.agent-container {
    display: flex;
    margin-top: 10px;
    
    img {
        width: 55px;
        border-radius: 50%;
    }

    .text {
        margin-left: 15px;
    }
}

.topbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: @topbar-height;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
    z-index: 2;
    padding: 0 10px;
}

.topbar-left {
    margin: auto 0;

    img {
        height: 30px;
    }
}

.topbar-right {
    display: flex;

    a {
        padding: 14px 13px;
        height: @topbar-height;
        box-sizing: border-box;
        border-left: 2px solid @background-color;
        position: relative;
        text-decoration: none;

        img {
            border-radius: 50%;
            width: 30px;
            padding: 10px;
            }
    }
    .profile {
        display: flex;
        align-items: center;
        color: unset;
        padding-left: 30px;
        font-size: 13px;
        font-weight: 600;
    }
}

.search {
    background: url(img/search-gray.svg);
    background-position: 105px 13px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    padding: 10px;
    border: none;
    width: 125px;
}

.notifications-blue {
    background-color: @background-blue;
    .notifications;
}

.notifications-orange {
    background-color: orange;
    .notifications;
}

.notifications-number {
    color: white;
    font-size: 12px;
    right: 6px;
    top: 2px;
    font-weight: bold;
    position: absolute;
}

.sidebar-button {
    display: none;
}

.sidebar {
    position: fixed;
    background-color: white;
    width: @sidebar-width;
    top: @topbar-height;
    margin: @sidebar-margin;
    margin-right: 15px;
    box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    a {
        margin: 0 auto;
        box-sizing: border-box;
        border-bottom: 1px solid lavender;
        text-decoration: none;

        img {
            height: 100px;
        }
    }
}

.sidebar::before {
    position: absolute;
    content: "";
    height: 50px;
    background-color: @background-blue;
    width: 3px;
    top: 16%;
}

.tips-img {
    padding-left: 17px;
}

.tips {
    background-color: @background-blue;
    color: white;
    height: 140px;
    width: 110px;
    padding: 37px 10px 0px 10px;
    font-size: 14px;
    margin-top: -32px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}
 
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checbox*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid #ccc;
}

.container:hover input ~ .checkmark {
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid @background-blue;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width:1400px) {
    .left-content {
        width: 65%;
    }

    .right-content {
        width: calc(35% - 20px);
    }

    .right-card-container {
        flex-direction: column;
    }

    .right-card:first-child {
        margin-bottom: 60px;
    }
  
    .right-card {
       margin-right: 10px;
        
    }
}

@media screen and (max-width:1308px) {
    .text-container {

        .number {
            letter-spacing: 6px;
            font-size: 35px;
        }
    }
}

@media screen and (max-width:1130px) {
    .main-content {
        flex-direction: column;
    }

    .left-content {
        width:100%;
    }
    
    .right-content {
        width: 100%;
    }

    .right-card-container {
        flex-direction: row;
        margin: 30px 30px 30px 20px;
    }

    .right-card:first-child {
        margin-bottom: unset;
    }
}

@media screen and (max-width:910px) {
    .top-content {
        width: unset;
        margin-right: 20px;
    }

    .header {
        margin-right: 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .big-card {
        width: calc(100% - 40px);
        margin: 20px auto;
    }

    #total-clients {
        margin-right: auto;
    }
}

@media screen and (max-width:810px) {
    .active {

        img {
            display: none;
        }

        .number {
            left: 50px;
        }

        .subtitle {
            left: 50px;
        }
    }
}

@media screen and (max-width:770px) {
    .left-content {

        .left-card:nth-child(2) {
            padding: 0 20px;
            display: inline-table;
        }
    }

    .agent-title-box {
        padding-top: 10px;
        margin: 10px auto;
    }

    .agent-box-container {
        flex-direction: column;
    }

    .agent-box {
        width: 100%;
        margin: 10px auto;
        box-sizing: border-box;
        padding: 20px 0px 20px 20px;
    }

    .agent-box-xontainer:last-child {
        margin: 10px auto;;
    }

    .topbar-right {

        a:not(:last-child) {
            display: none;
        }
    }
}

@media screen and (max-width: 700px) {
    .left-card {
        margin: 30px 30px 30px 20px; 
    }
    
    .sidebar {
        display: none;
    }

    .content-container {
        top: 80px;
    }

    .sidebar-button {
        display: block;
        position: fixed;
        top: 50px;
        border: none;
        background-color: white;
    }

    .content-container {
        width: 100%;
        left: unset;
        margin-left: 20px;
    }

}

@media screen and (max-width: 520px) {
    .right-card-container {
        width: calc(100% - 60px);
        flex-direction: column;
    }

    .right-card:first-child {
        margin-bottom: 60px;
    }

    .client-box {

        .number{
            left:20px;
            top: 30px;
        }

        .subtitle {
            left:20px;
            top: 65px;
        }
    }

    .bookings {
        margin-bottom: 10px;
    }

    .search {
        display: none;
    }
}

@media screen and (max-width: 431px) {
    .client-box {

        .subtitle {
            top: 85px;
        }
    }
}

@media screen and (max-width: 388px) {
    .left-content .left-card:last-child {
        height: auto;
    }

    .profile {

        .text {
            display: none;
        }
        border: none;
    }

    .top-content {

        h2 {
            font-size: 21px;
            padding: 16px 0;
        }

        p {
            display: none;
        }
    }
}

.play {
    visibility: visible;
    z-index: 2;
    margin: 0;
    position: fixed;
    background-color: white;
    width: @sidebar-width;
    top: @topbar-height;
    box-shadow: 0px 0px 5px 0px rgb(200, 200, 200);
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    a {
        margin: 0 auto;
        border-bottom: 1px solid lavender;
        text-decoration: none;

        img {
            height: 100px;
        }
    }
}